* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;}

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  min-height: calc(100vh - 2 * 4vw); 
  background-image: url('/src/img/logos/bgred.svg');
  background-repeat: cover;
}
img{
  max-width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

.swiper-slide {
  cursor:grab;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  min-height: 400px;
}
.slide-link{
  color: #01ff83;
  text-decoration: none;
  padding: 2em;
  font-family: 'Poppins', sans-serif;
}
.slide-link img{
  padding: 2em;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: #01ff83;
    right:10px;
    padding: 30px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
}
.select__heading{
  text-align: center;
  font-size: 1.25vw;
  font-family: 'Poppins', sans-serif;
  color:white;
  background-color: #fe015b;
  padding: 2em;
  margin-bottom: 1em;
}
.select__button{
  all: unset;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  padding:0.5em;
  margin: 0.5em;
  cursor: pointer;
  border:none;
  outline:none;
  transition: background-color 0.3s;
  font-weight: bold;
  color:#fe015b;
  background-color: white;
}
.select__button:hover{
  background-color: #01ff83;
  color:#36003c;
}
.select__container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container {
  width: 50%;
}
.select__favourite-team{
  background-image: url('/src/img/logos/bgred.svg');
  background-size: cover;
  height: 100%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .swiper-container {
    width: 70%;
  }
  .select__heading{
    font-size: 3vw;
    padding: 3em;
  }
}
@media only screen and (min-height: 600px) {
  .select__favourite-team{
    height: 100vh;
  }
}


/* TEAM VIEW AREA */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px 1px;
    grid-template-areas: "left" "middle" "right";
    
  }
  
  .left {
    /* background-color: white; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr ; */
    gap: 1px 1px;
    grid-template-areas: "team-logo" "league-standing-info" "league-standings" ;
    grid-area: left;
  }
  
  .team-logo { 
    grid-area: team-logo;
    padding-top: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    padding-bottom: 15px;
    color: white;

   }
   .circle{
     display: inline-block;
     width: 140px;
     height: 140px;
     line-height: 140px;
     border-radius: 50%;
     background-color: #f7f7f7;
   }
   .circle img{
     height: 100px;
     vertical-align: middle;
   }
   .league-standing-info{
    grid-area: league-standing-info;
    margin: 0 5% 0 5%;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr 0.7fr;
    grid-template-rows:minmax(50px,auto) 1fr;
    align-items: center;
    justify-content: center;
   }
   .league-standing-info > * p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
  .league-standings { 
    grid-area: league-standings;
    padding-bottom: 2em;
    height: 100%;
    overflow: scroll;
    max-height: 330px;
    overflow-x: hidden 
  }
  .team-standing{
    margin: 0 5% 0 5%;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr 0.7fr;
    grid-template-rows:minmax(50px,auto) 1fr;
    align-items: center;
    justify-content: center;
  }
  .favouriteTeam{
    color:white;
    background-color:#00a652!important;
  }
  .team-standing:nth-child(2n){
    background-color: white;
  }
  .team-standing > * p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    text-align: center;
  }
  .team-crest{
    text-align: center;
  }
  .team-crest img{
    height: 3rem;
  }
  /* .twitter-feed { grid-area: twitter-feed; } */
  
  .middle {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.5fr 0.9fr 1.6fr; */
    gap: 0px 0px;
    grid-template-areas: "search-area" "next-match" "matches-area";
    grid-area: middle;
  }
  
  .search-area { 
    display: grid;
    grid-area: search-area;
    grid-template-rows:minmax(50px,auto) 1fr;
   }
   .search{
     background: white;
     display: grid;
     grid-template-columns:1fr;
   }
   .search-dynamic-results{
     height: 100%;
     overflow: scroll;
     max-height: 300px;
     overflow-x: hidden 
   }
   .search input{  
     outline: 0;
     border: 0;
     padding:0 5% 0 5%;
     font-size:2em;
     font-family: 'Poppins', sans-serif;
   }
   .fixture{
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
    padding-top:1em;
    padding-bottom:1em;
    margin:0.5em 0 0.5em 0;
    transition: background-color .1s;
   }
   .fixture:hover{
     background-color: #00a652;
     color:white;
   }
   .fixture:hover:nth-child(2n){
    background-color: #00a652;
    color:white;
  }
   .fixture:nth-child(2n){
    background-color: white;
  }
   .match__date{
     text-align: center;
     font-size: 1.5em;
     font-weight: 700;
   }
   .match{
     display: grid;
     grid-template-columns: 1fr 0.3fr 1fr;
     text-align: center;
     align-items: center;
     padding: 0 1em 0 1em;
   }
   .match img{
     height: 30px;
   }
   .match__score{
    font-size: 2.75em;
    font-weight: 700;
   }
   .match__team-name{
    font-size: 1.5em;
   }
  .next-match { grid-area: next-match; }
  
  .matches-area {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.7fr 1.3fr; */
    gap: 1px 1px;
    grid-template-areas: "choose-matches" "fixtures";
    grid-area: matches-area;
  }
  
  .choose-matches { grid-area: choose-matches; }
  
  .fixtures { grid-area: fixtures; }
  
  .right {
    background-color: green;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1.6fr 1fr 0.4fr; */
    gap: 1px 1px;
    grid-template-areas: "time-area" "top-scorers" "facebook-feed";
    grid-area: right;
  }
  
  .time-area { grid-area: time-area; }
  
  .top-scorers { grid-area: top-scorers; }
  
  .facebook-feed { grid-area: facebook-feed; }


/* DESKTOP */
@media only screen and (min-width:700px){
.teamView-container{
  margin: 0 1vw 0 1vw;
  background-color: red;
  border-radius: 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.6fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "left middle right";
}
}
@media only screen and (min-width:1300px){
  .teamView-container{
    margin: 0 15vw 0 15vw;
    background-color: red;
    border-radius: 30px;
  }
}
